@import (inline) 'node_modules/uikit/dist/css/uikit.almost-flat.css';
@import (inline) 'node_modules/uikit/dist/css/components/form-password.almost-flat.css';
@import (inline) 'node_modules/uikit/dist/css/components/tooltip.almost-flat.css';

@import './sprites';

summary {
  display: revert;
}

// TODO: Actually a compatibility fix. See https://tobi.antville.org/stories/2317931/
td[nowrap][width]:not([width$="%"]) {
  white-space: normal
}

.markdown-alert {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-left: 4px solid;

    p {
      margin: 0;
    }
}

.markdown-alert-title { font-weight: 600; margin-top: 0; margin-bottom: 0.25rem; }

.markdown-alert-note {
  .markdown-alert-title { color: #0969da; }
  border-color: #0969da; background-color: #ddf4ff;
}

.markdown-alert-tip {
  .markdown-alert-title { color: #1a7f37; }
  border-color: #1a7f37; background-color: #dcffe4;
}

.markdown-alert-important {
  .markdown-alert-title { color: #8250df; }
  border-color: #8250df; background-color: #f6f0ff;
}

.markdown-alert-warning {
  .markdown-alert-title { color: #9a6700; }
  border-color: #9a6700; background-color: #fff8c5;
}

.markdown-alert-caution {
  .markdown-alert-title { color: #cf222e; }
  border-color: #cf222e; background-color: #ffebe9;
}
