/.*
/•*
/antville.eml
/antville.iml
/jobs
/local
build/build.properties
build/dist
build/extra/*.lock.db
build/extra/*.trace.db
build/work
code/_*
code/domains.map
code/Global/ParssClientLibrary.js
static/*
!static/www/
static/www/*.html
static/www/*.zip
static/www/files
static/www/images
static/www/layout
static/www/node_modules
