/.*
build/build.properties
build/dist
build/extra/*.lock.db
build/extra/*.trace.db
build/work
code/Global/ParssClientLibrary.js
code/_*
extra/WEB-INF/lib/urlrewrite-2.6.0.jar.disabled
extra/WEB-INF/lib/urlrewrite-3.1.0-patched.jar.disabled
/jobs
/local
static/*
static/www/*.html
static/www/*.zip
static/www/files
static/www/images
static/www/layout
/•*
