* text=auto !eol
build/extra/helma.jar -text
build/extra/launcher.jar -text
build/extra/mckoidb.jar -text
code/TagHub/TagHub.skin -text
code/lucene-1.4.3.jar -text
database/data/062SYS_INFO_sUSRSequenceInfo.koi -text
database/data/063SYS_INFO_sUSRSequence.koi -text
database/data/064SYS_INFO_sUSRPKeyInfo.koi -text
database/data/065SYS_INFO_sUSRFKeyInfo.koi -text
database/data/066SYS_INFO_sUSRUniqueInfo.koi -text
database/data/067SYS_INFO_sUSRCheckInfo.koi -text
database/data/068SYS_INFO_sUSRPrimaryColumns.koi -text
database/data/069SYS_INFO_sUSRUniqueColumns.koi -text
database/data/070SYS_INFO_sUSRForeignColumns.koi -text
database/data/071SYS_INFO_sUSRSchemaInfo.koi -text
database/data/072SYS_INFO_sUSRDatabaseVars.koi -text
database/data/073SYS_INFO_sUSRPassword.koi -text
database/data/074SYS_INFO_sUSRUserPriv.koi -text
database/data/075SYS_INFO_sUSRUserConnectPriv.koi -text
database/data/076SYS_INFO_sUSRGrant.koi -text
database/data/077SYS_INFO_sUSRService.koi -text
database/data/078SYS_INFO_sUSRFunctionFactory.koi -text
database/data/079SYS_INFO_sUSRFunction.koi -text
database/data/080SYS_INFO_sUSRView.koi -text
database/data/081SYS_INFO_sUSRLabel.koi -text
database/data/082SYS_INFO_sUSRDataTrigger.koi -text
database/data/100APP_AV_ACCESSLOG.koi -text
database/data/101APP_AV_CHOICE.koi -text
database/data/102APP_AV_FILE.koi -text
database/data/104APP_AV_MEMBERSHIP.koi -text
database/data/105APP_AV_POLL.koi -text
database/data/106APP_AV_LAYOUT.koi -text
database/data/107APP_AV_SKIN.koi -text
database/data/108APP_AV_SYSLOG.koi -text
database/data/109APP_AV_TEXT.koi -text
database/data/110APP_AV_USER.koi -text
database/data/111APP_AV_VOTE.koi -text
database/data/113APP_AV_IMAGE.koi -text
database/data/115APP_AV_SITE.koi -text
database/data/BlobStore.koi -text
database/data/DefaultDatabase_sf.koi -text
static/default/images/dot.gif -text
static/default/images/hop.gif -text
static/default/images/marquee.gif -text
static/default/images/pixel.gif -text
static/default/images/smallanim.gif -text
static/default/images/smallchaos.gif -text
static/default/images/smallstraight.gif -text
static/default/images/smalltrans.gif -text
static/default/images/xmlbutton.gif -text
static/default/layouts/antville-classic/big.gif -text
static/default/layouts/antville-classic/bullet.gif -text
static/default/layouts/antville-classic/dot.gif -text
static/default/layouts/antville-classic/headbg.gif -text
static/default/layouts/antville-classic/manage.gif -text
static/default/layouts/antville-classic/menu.gif -text
static/default/layouts/antville-classic/recent.gif -text
static/default/layouts/antville-classic/status.gif -text
static/default/layouts/antville-classic/webloghead.gif -text
static/www/big.gif -text svneol=unset#image/gif
static/www/bullet.gif -text svneol=unset#image/gif
static/www/dot.gif -text svneol=unset#image/gif
static/www/headbg.gif -text svneol=unset#image/gif
static/www/hop.gif -text svneol=unset#image/gif
static/www/manage.gif -text svneol=unset#image/gif
static/www/marquee.gif -text svneol=unset#image/gif
static/www/menu.gif -text svneol=unset#image/gif
static/www/pixel.gif -text svneol=unset#image/gif
static/www/recent.gif -text svneol=unset#image/gif
static/www/smallanim.gif -text svneol=unset#image/gif
static/www/smallchaos.gif -text svneol=unset#image/gif
static/www/smallstraight.gif -text svneol=unset#image/gif
static/www/smalltrans.gif -text svneol=unset#image/gif
static/www/status.gif -text svneol=unset#image/gif
static/www/webloghead.gif -text svneol=unset#image/gif
static/www/xmlbutton.gif -text svneol=unset#image/gif
