* text=auto !eol
build/build.properties svneol=native#text/plain
build/extra/antclick/Archive/Archive.properties svneol=native#text/plain
build/extra/h2.jar -text svneol=unset#application/x-compressed
build/extra/helma.jar -text
build/extra/launcher.jar -text
code/Api/Api.blogger.js -text
code/Choice/$Choice.skin -text
code/Poll/$Poll.skin -text
code/TagHub/$TagHub.skin -text
db/antville.h2.db -text
db/antville.trace.db -text
extra/WEB-INF/lib/urlrewrite-3.2.0.jar -text svneol=unset#application/x-compressed
extra/mrtg.cfg -text
extra/updater/patch-20080913.js -text
i18n/antville.pot -text
i18n/de.po -text
i18n/en.po -text
lib/itunes-0.4.jar -text svneol=unset#application/x-compressed
lib/jdom.jar -text svneol=unset#application/x-compressed
lib/opml-0.1.jar -text svneol=unset#application/x-compressed
lib/rome-1.0.jar -text svneol=unset#application/x-compressed
static/www/big.gif -text svneol=unset#image/gif
static/www/bullet.gif -text svneol=unset#image/gif
static/www/dot.gif -text svneol=unset#image/gif
static/www/headbg.gif -text svneol=unset#image/gif
static/www/hop.gif -text svneol=unset#image/gif
static/www/manage.gif -text svneol=unset#image/gif
static/www/marquee.gif -text svneol=unset#image/gif
static/www/menu.gif -text svneol=unset#image/gif
static/www/pixel.gif -text svneol=unset#image/gif
static/www/recent.gif -text svneol=unset#image/gif
static/www/rss.png -text svneol=unset#image/png
static/www/smallanim.gif -text svneol=unset#image/gif
static/www/smallchaos.gif -text svneol=unset#image/gif
static/www/smallstraight.gif -text svneol=unset#image/gif
static/www/smalltrans.gif -text svneol=unset#image/gif
static/www/status.gif -text svneol=unset#image/gif
static/www/webloghead.gif -text svneol=unset#image/gif
static/www/xmlbutton.gif -text svneol=unset#image/gif
