<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
 PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <display-name>
      Antville
   </display-name>
   
   <description>
      Context for Antville via helma.servlet.StandaloneServletClient
   </description>
   
   <!--filter>
      <filter-name>
         UrlRewriteFilter
      </filter-name>
      <filter-class>
         org.tuckey.web.filters.urlrewrite.UrlRewriteFilter
      </filter-class>
      <init-param>
         <param-name>
            confPath
         </param-name>
         <param-value>
            rewrite.xml
         </param-value>
      </init-param>
      <init-param>
         <param-name>
            confReloadCheckInterval
         </param-name>
         <param-value>
            10
         </param-value>
      </init-param>
      <init-param>
         <param-name>
            logLevel
         </param-name>
         <param-value>
            DEBUG
         </param-value>
      </init-param>
      <init-param>
         <param-name>
            statusPath
         </param-name>
         <param-value>
            /admin/rewrite-status
         </param-value>
      </init-param>
      <init-param>
         <param-name>
            statusEnabled
         </param-name>
         <param-value>
            true
         </param-value>
      </init-param>
      <init-param>
         <param-name>
            statusEnabledOnHosts
         </param-name>
         <param-value>
            *
         </param-value>
      </init-param>
      <init-param>
         <param-name>
            modRewriteConf
         </param-name>
         <param-value>
            false
         </param-value>
      </init-param>
   </filter>
   
   <filter-mapping>
      <filter-name>
         UrlRewriteFilter
      </filter-name>
      <url-pattern>
         /*
      </url-pattern>
   </filter-mapping -->
   
   <servlet>
      <servlet-name>
         Antville
      </servlet-name>
      <servlet-class>
         helma.servlet.StandaloneServletClient
      </servlet-class>
      <init-param>
         <param-name>
            application
         </param-name>
         <param-value>
            antville
         </param-value>
      </init-param>
      <init-param>
         <param-name>
            dbdir
         </param-name>
         <param-value>
            ./db/antville
         </param-value>
      </init-param>
      <init-param>
         <param-name>
            appdir
         </param-name>
         <param-value>
            ./apps/antville/code
         </param-value>
      </init-param>
      <init-param>
         <param-name>
            repository.0
         </param-name>
         <param-value>
            ./apps/antville/code
         </param-value>
      </init-param>
      <!-- init-param>
      <param-name>
      cookieDomain
      </param-name>
      <param-value>
      .antville.org
      </param-value>
      </init-param -->
      <load-on-startup>
         1
      </load-on-startup>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>
         Antville
      </servlet-name>
      <url-pattern>
         /*
      </url-pattern>
   </servlet-mapping>
</web-app>
