name: Deploy (Production)

on: workflow_dispatch

jobs:
  deploy:
    runs-on: antville

    environment:
      name: p3k.org
      url: https://blog.p3k.org

    steps:
      - name: Copy files to production server
        run: ssh staging-server deploy-antville
